<!DOCTYPE html>

<div class="hero">
  <!-- <p class="large brandon"> </p> -->

  <div class ="main-photo">  </div>
  <h1 class ="strawberry"> . </h1>
  <p class="small brandon">Stop paying the "women" tax <br>High quality razors <br> $6 a month</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>
